#nav{
    display: flex;
    height: 40px;
    width: 98.4vw;
    background-color: white;
    color: green;
    font-weight: bolder;
    position: sticky;
}
.container{
    background-color: green;
    height: 965px;
    width: 1890px;
}
#blue-btn{
    background-color: rgb(33, 33, 221);
}
button{
    position: relative;
    height: 40px;
    width: 140px;
    margin-top: 20px;
    background-color: green;
    color: white;
}
h1{
    font-size: 400%;
    font-weight: bold;
    margin: 0px;
}
p{
    font-size: medium;
}
#float{
    position: relative;
    top: 200px;
    left: 50px;
    height: auto;
    width: 52vw;
    color: aliceblue;    
}
#image{
    background-image: url("./job.png");
    background-repeat:no-repeat;
    background-size: 1889px 800px;
    margin-left: 4px;
    margin: 15px auto; 
    height: 100vh;
    width: 98vw;
    margin-bottom: 0px;
}
#flex{
    color: black;
    display: flex;
    position: inherit;
    left: 78%;
    align-items: center;
    margin: 0px;
}
#title{
    font-size: 180%;
    
}
.box{
    padding: 10px;
}
#post{
    margin: 0px;
    color: white;
    background-color: green;
}
.flex1{
    display: flex;
    justify-content: center;
    position: relative;
    top: -65px;
    
}
input::placeholder{
    font-size: large;
    font-weight: bolder;
}
.ip{
    height: 45px;
    width: 425px;
    margin: 5px;
}
#btn-search{
    margin: 5px;
    background-color: black;
    height: 48px;
    width: 280px;
    font-size: medium;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
    position: relative;
}
.menu{
    background-color: rgb(200, 202, 205);
}
.grid2{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: rgb(229, 224, 224);
}
#grid-title{
    text-align: center;
    margin: 50px;
}
h3{
    font-weight: bold;
    font-size: larger;
    margin: 5px 10px;
}
.card{
    color: green;
}
.grid3{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 500px;
    width: 1890px;
    gap: 20px;
}
.grid4{
    display: grid;
    height: 500px;
    width: 940px;
    grid-template-columns: repeat(2,1fr);
    background-color: antiquewhite;
}
.grid5{
    display: grid;
    margin: 0px;
    justify-content: flex-start;
    align-items: center;
}
.merge-image{
    height: 250px;
    width: 450px;
   
}
#merge-image1{
    height: 200px;
    width: 400px;
    position: relative;
    top: 50px;
    margin-right: 150px;
}
p{
    text-align: justify;
    margin: 0px;
}
li{
    margin: 20px;
}
#merge-image2{
    height: 200px;
    width: 400px;
    position: relative;
    left: 50px;
}
.flex2{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}
#last{
    text-align: center;
    margin-top: 50px;
    font-size: 50px;
}
.grid6{
    display: grid;
    grid-template-rows: repeat(5,1fr);
}
.img-profile{
    height: 100px;
    width: 100px;
    margin-top: 15px;
}
.f-profile{
    background-color: rgb(87, 158, 87);
    padding: 25px;
    color: white;
    height: 250px;
    width: 389px;
}
.font-set{
    position: relative;
    height: auto;
    width: 200px;
    left: 120px;
    bottom: 90px;
}
.foot-para{
    margin-top: 20px;
}
.layout{
    background-color: rgb(63, 38, 84);
    color: white;
    margin-top: 150px;
    padding: 100px 20px 100px 20px;
}
li.layout{
    padding-left: -50px;;
}
#f-email{
position: relative;
left: 295px;
bottom: 70px;
}
#f-input{
    margin-top: 30px;
    background-color: transparent;
    color: aliceblue;
    font-size: 1.2rem;
}
#f-input::placeholder{
    color: #fff;
}
.jl-name{
    width: 200px;
    position: relative;
    left: 100px;
    bottom: 70px;
}
.last-btn{
    left: 1720px;
    bottom: 120px;
    cursor: pointer;
}
.last-location{
    position: relative;
    left: 100px;
    bottom: 115px;
    width: 300px;
}
.last-date{
    position: relative;
    left: 1720px;
    bottom: 129px;
    width: 150px;
}
.box1{
    margin: 10px 0px 10px 0px;
    border: 2px solid rgb(222, 204, 204);
    height: 90px;
}
